<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using @vitejs/plugin-react"
    />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="/manifest.json" />
    <title>React App</title>
  </head>
  <body>
    <div id="root">
      <input v-model="message" />
      <p v-text="message"></p>
      <span v-text="count"></span>
      <button v-on:click="increase">increase</button>
      <p v-if="break10">超10了，加油</p>
      <p v-if="break20">超20了，加油</p>
    </div>
  </body>
  <script type="module" src="/src/index.js"></script>
</html>
